html, body, h1, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent; }

body {
  font-family: Open Sans;
  line-height: 1.2; }

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px; }

.interactive {
  display: flex;
  justify-content: flex-start; }

* {
  box-sizing: border-box; }

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 100% "Open Sans", sans-serif;
  font-size: 14px;
  color: #2C2B36;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
  position: relative; }

html {
  background: #f9f9f9; }

h1 {
  font-size: 2.827em;
  font-weight: 400; }

h2 {
  font-size: 1.777em;
  font-weight: 300; }

h3 {
  font-size: 1.777em;
  font-weight: 300; }

h4 {
  font-size: 1.414em;
  margin: 5px 0 5px 0;
  text-transform: uppercase; }

h5 {
  font-size: 1.333em;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-size: .75em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase; }

p {
  font-size: 1em; }

button {
  border-radius: 1px;
  transition: all 100ms linear;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .06em;
  padding: 0 10px 0 10px;
  height: 36px;
  text-align: center; }

button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.33);
  transition: all 300ms ease-out;
  color: black; }

button + button {
  margin-left: 10px; }

.intro-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.intro-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 4% 0 4%; }

@media (max-width: 710px) {
  .text-wrapper {
    text-align: left;
    margin: auto 10px auto 10px;
    width: 100%; } }
.img-wrapper {
  max-width: 300px;
  height: auto;
  margin-right: 70px; }

.intro-content-wrapper img {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(200, 179, 241, 0.28); }

.text-wrapper {
  text-align: right;
  padding: 0 30px 0 0;
  max-width: 400px;
  flex: 1 0 321px; }
  .text-wrapper .description {
    margin-bottom: 10px; }

.text-wrapper .name {
  margin-bottom: 20px; }

.text-wrapper .info {
  display: inline-flex; }
  .text-wrapper .info span {
    padding: 15px 15px; }

footer {
  padding: 0 7% 0 7%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .contact {
    justify-content: space-between;
    display: inherit; }
    footer .contact span {
      padding: 5px 10px;
      margin: 5px; }

.portfolio-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.label-wrapper {
  position: sticky;
  align-self: flex-start;
  top: 0;
  z-index: 901;
  margin-left: 5vw;
  padding: 5px 4vw;
  margin-top: -100px;
  margin-bottom: 30px; }

.portfolio-label h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em; }

.mixitup-control-active {
  color: black; }

.portfolio-actions {
  padding: 0 4vw 0 4vw;
  flex-shrink: 0;
  max-width: 720px;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100vw;
  z-index: 900;
  background: rgba(249, 249, 249, 0.8); }

.portfolio-filters {
  position: sticky;
  top: 0; }

.actions-wrapper {
  max-width: 720px;
  flex: 1 0 600px; }

.gallery-container .mix {
  flex-shrink: 0;
  margin: 20px; }

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.mix {
  display: flex;
  flex-wrap: wrap; }
  .mix a {
    display: inherit; }

.mix img {
  height: 100%;
  width: 300px;
  border: 1px solid gray; }

.info {
  max-width: 360px;
  flex: 1 0 240px;
  padding-left: 20px; }

/*# sourceMappingURL=main.css.map */
