html, body, h1, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent; }

body {
  font-family: Open Sans;
  line-height: 1.2; }

h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 20px 10px 10px 20px; }

.interactive {
  display: flex;
  justify-content: flex-start; }

* {
  box-sizing: border-box; }

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 100% "Open Sans", sans-serif;
  font-size: 14px;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
  position: relative; }

html {
  background: #f9f9f9; }

body {
  min-height: 100vh; }

img {
  width: 100%;
  height: auto; }

strong {
  font-size: inherit; }

h1 {
  font-size: 2.827em;
  font-weight: 400; }

h2 {
  font-size: 1.777em;
  font-weight: 300; }

h3 {
  font-size: 1.777em;
  font-weight: 400;
  margin: 0.5em 0; }

h4 {
  font-weight: 400;
  font-size: 1.414em;
  margin: 5px 0 5px 0;
  color: #3F3D4C; }

h5 {
  font-size: 1.333em;
  color: #b7b7b7;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase; }

h6 {
  font-size: .75em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase; }

p {
  font-size: inherit;
  font-weight: 300; }

ul li {
  font-weight: 300;
  font-size: inherit;
  list-style: disc;
  margin-left: 1.25em; }

ol {
  padding-left: 0; }
  ol li {
    list-style: inherit;
    margin-left: 1.25em; }

a {
  font-weight: inherit; }

button {
  border-radius: 1px;
  transition: all 300ms linear;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .06em;
  padding: 0 15px 0 15px;
  height: 40px;
  text-align: center; }

button:hover {
  text-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 300ms ease-out;
  color: #2C2B36; }

button.strong-label {
  color: #272727;
  font-weight: 700;
  letter-spacing: 0.2em; }

.intro-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.intro-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 4% 0 4%; }

@media (max-width: 710px) {
  .text-wrapper {
    text-align: left;
    margin: auto 10px auto 10px;
    width: 100%; } }
.img-wrapper {
  max-width: 300px;
  height: auto;
  margin-right: 70px; }

.intro-content-wrapper img {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(200, 179, 241, 0.28);
  border-radius: 1px; }

.text-wrapper {
  text-align: right;
  padding: 0 30px 0 0;
  max-width: 400px;
  flex: 1 0 321px; }
  .text-wrapper .description {
    margin-bottom: 20px; }

.text-wrapper .name {
  margin-bottom: 10px; }

.text-wrapper .links {
  display: inline-flex;
  margin-right: -15px; }
  .text-wrapper .links span {
    padding: 15px 15px; }

footer {
  padding: 0 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .contact {
    justify-content: space-between;
    display: inherit; }
    footer .contact span {
      margin-left: 20px; }

#portfolio-container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.label-wrapper {
  position: sticky;
  top: 0;
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 901;
  margin-top: -80px;
  margin-right: 30px; }

.portfolio-label h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em; }

.mixitup-control-active {
  color: black; }

.portfolio-actions {
  display: flex;
  padding: 0 4vw 0 4vw;
  flex-shrink: 0;
  max-width: 770px;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100vw;
  z-index: 900;
  background: rgba(249, 249, 249, 0.85); }

.portfolio-filters {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  float: right;
  height: 100%; }

.actions-wrapper {
  max-width: 720px;
  flex: 1 0 600px; }

.gallery-container .mix {
  flex-shrink: 0;
  margin: 20px; }

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px; }

.mix {
  display: flex;
  flex-wrap: wrap; }
  .mix a {
    display: inherit; }

.mix img {
  height: 100%;
  width: 280px;
  border: 1px solid gray; }

.mix:hover .info {
  text-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out; }

.info {
  max-width: 360px;
  flex: 1 0 240px;
  padding-left: 20px;
  transition: all 500ms ease-out; }

.project-wrapper.container {
  display: grid;
  grid-template-columns: [left-bound] 120px [left] auto [right] 120px [right-bound];
  grid-template-rows: 10vh [top] min-content 70vh [main] 20vh [navline] auto [end] 80px; }

.desc-wrapper {
  padding: 0 7%;
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: main;
  display: flex;
  justify-content: center; }

.desc-content p {
  max-width: 800px; }

h3 {
  grid-column-start: left; }

.content-wrapper {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: main;
  grid-row-end: end;
  display: flex;
  justify-content: center; }

.project-items {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7%; }
  .project-items img {
    padding: 0; }

.item-wrapper {
  box-sizing: border-box;
  margin: 40px;
  box-shadow: 0 1px 3px rgba(200, 179, 241, 0.28); }

.pr-nav {
  grid-row-start: navline;
  height: 40px;
  top: calc(50vh - 20px);
  position: sticky; }
  .pr-nav button {
    width: 100%;
    color: #2C2B36; }

.pr-nav.last {
  grid-column-start: left-bound;
  grid-column-end: left; }

.pr-nav.next {
  grid-column-start: right;
  grid-column-end: right-bound; }

.home {
  position: sticky;
  top: 10px;
  grid-row-start: top;
  grid-column-start: left-bound;
  grid-column-end: left; }
  .home button {
    width: 100%; }

.table {
  font-size: 1em;
  display: grid;
  grid-gap: 20px; }
  .table h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em; }
  .table .qu {
    font-weight: 300;
    font-style: italic; }
  .table .col p,
  .table .col ul li {
    font-size: 1em; }

.table.three {
  grid-template-columns: 1fr 1fr 1fr; }
  .table.three .desc {
    grid-column-start: 1;
    grid-column-end: span 3; }
  .table.three .a {
    grid-column-start: span 1; }
  .table.three .b {
    grid-column-start: 2; }
  .table.three .c {
    grid-column-start: 3; }

.table.four {
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  .table.four .desc {
    grid-column-start: 1;
    grid-column-end: span 4; }
  .table.four .a {
    grid-column-start: span 1; }
  .table.four .b {
    grid-column-start: 2; }
  .table.four .c {
    grid-column-start: 3; }
  .table.four .d {
    grid-column-start: 4; }

.img-captioned.right {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; }
  .img-captioned.right img {
    height: auto;
    grid-column: 2 / span 3; }
  .img-captioned.right .txt {
    grid-column-start: span 1;
    font-size: 1em; }

.img-captioned.left {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr; }
  .img-captioned.left img {
    height: auto;
    grid-column: 1 / span 2; }
  .img-captioned.left ul {
    grid-column-start: span 3; }

/*# sourceMappingURL=main.css.map */
