@import 'ui';

* {
  box-sizing: border-box;
}

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 100% $font-stack;
  font-size: 14px;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
  position: relative;
}

html {
  background: #f9f9f9;
  // background: $gradient_1;
}

body {
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

strong {
  font-size: inherit;
}

h1 {
  font-size: 2.827em;
  font-weight: 400;
}

h2 {
  font-size: 1.777em;
  font-weight: 300;
}

h3 {
  font-size: 1.777em;
  font-weight: 400;
  margin: 0.5em 0 ;
}

h4 {
  font-weight: 400;
  font-size: 1.414em;
  margin: 5px 0 5px 0;
  color: $dark_gray;
}

h5 {
  font-size: 1.333em;
  color: $light_gray;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-size: .75em;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 1.414em;
  font-weight: 300;
}

ul li {
  font-weight: 300;
  font-size: 1.414em;
  list-style: disc;
  margin-left: 1.25em;
}

ol {
  padding-left: 0;
  li {
    font-size: 1.414em;
    list-style: inherit;
    margin-left: 1.25em;
  }
}

a {
  font-weight: inherit;
  font-size: inherit;
}

button {
  white-space: nowrap;
  border-radius: 1px;
  transition: all 300ms linear;
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .06em;
  padding: 0 15px 0 15px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: inherit;
  font-weight: 700;
}

button:hover {
  text-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-out;
  color: $darkest_gray;
}

button.strong-label {
  // color: #272727;
  font-weight: 700;
  letter-spacing: 0.2em;
}

button.large {

}

.intro-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -20px 4% 0 4%;
}

@media (max-width: 710px) {
  .text-wrapper {
    text-align: left;
    margin: auto 10px auto 10px;
    width: 100%;
  }
}


.img-wrapper {
  max-width: 300px;
  height: auto;
  margin-right: 70px;
}

.intro-content-wrapper img {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(200, 179, 241, 0.28);
  border-radius: 1px;
}

.text-wrapper {
  text-align: right;
  padding: 0 30px 0 0;
  max-width: 400px;
  flex: 1 0 321px;
  .description {
    margin-bottom: 20px;
  }
}

.text-wrapper .name {
  margin-bottom: 10px;
}


.text-wrapper .links {
  display: inline-flex;
  margin-right: -15px;
  span {
    padding: 15px 15px;
  }
}

footer {
  padding: 0 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .contact {
    justify-content: space-between;
    display: inherit;
    span {
      margin-left: 20px;
      // padding: 5px 10px;
      // margin: 5px;
    }
  }
}
