$font-stack: 'Open Sans', sans-serif;

$darkest_gray: #2C2B36;
$dark_gray: #3F3D4C;
$light_gray: #b7b7b7;

$prime-green: #E5FE57;
$gradient_1: #ECE9E9 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ECE9E9));
