.gallery-container {

}

.portfolio-container {
  // padding: 40px 7% 40px 7%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  position: sticky;
  align-self: flex-start;
  top: 0;
  z-index: 901;
  margin-left: 5vw;
  padding: 5px 4vw;
  margin-top: -100px;
  margin-bottom: 30px;
}

.portfolio-label {

  h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
  }
}

.mixitup-control-active {
  color: black; 
}

.portfolio-actions {
  padding: 0 4vw 0 4vw;
  // align-items: flex-end;
  // display: flex;
  // justify-content: center;
  flex-shrink: 0;
  max-width: 720px;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100vw;
  z-index: 900;
  background: rgba(249, 249, 249, 0.8);
}

.portfolio-filters {
  position: sticky;
  top: 0;
  // max-width: 720px;
  // width: 100%;
  // flex: 1 0 600px;
  // padding-left: 40px;
}

.actions-wrapper {
  max-width: 720px;
  flex: 1 0 600px;
}

.gallery-container .mix {
  flex-shrink: 0;
  margin: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // padding: 40px 4% 40px 4%;
}

.mix {
  a {
    display: inherit;
  }
  display: flex;
  flex-wrap: wrap;
}

.mix img{
  height: 100%;
  width: 300px;
  border: 1px solid gray;
}

.portfolio-filters button {
  // color: gray;
  // padding: 0 10px 0 10px;
  // height: 36px;
  // margin: 10px;
  // text-align: center;
}


.info {
  max-width: 360px;
  flex: 1 0 240px;
  padding-left: 20px;
}
