

#portfolio-container {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  position: sticky;
  top: 0;
  align-items: center;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 901;
  margin-top: -80px;
  margin-right: 30px;
}

.portfolio-label {
  h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
  }
}

.mixitup-control-active {
  color: black;
}

.portfolio-actions {
  display: flex;
  padding: 0 4vw 0 4vw;
  flex-shrink: 0;
  max-width: 770px;
  position: sticky;
  top: 0;
  height: 40px;
  width: 100vw;
  z-index: 900;
  background: rgba(249, 249, 249, 0.85);
}

.portfolio-filters {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  float: right;
  height: 100%;
}

.actions-wrapper {
  max-width: 720px;
  flex: 1 0 600px;
}

.gallery-container .mix {
  flex-shrink: 0;
  margin: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  // padding: 40px 4% 40px 4%;
}

.mix {
  a {
    display: inherit;
  }
  display: flex;
  flex-wrap: wrap;

}

.mix img{
  height: 100%;
  width: 280px;
  // border: 1px solid gray;
  box-shadow: 0px 1px 3px rgba(128, 128, 128, 0.15);
  border-radius: 2px;
  transition: all 200ms ease-out;
}

.mix:hover {
  .info {
  text-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
  }
  img {
    box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.25);
    transition: all 200ms ease-out;
  }
}


.info {
  max-width: 360px;
  flex: 1 0 240px;
  padding-left: 20px;
  transition: all 500ms ease-out;
}
