.gallery-container {

}

.portfolio-container {

}

.label-action {
  position: relative;
  bottom: 120px;
  left: 30px;
  h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
  }
}

.label-action:after {
  content: "";
  position: absolute;
  left: 30px;
  width: 280px;
  max-width: 720px;
  flex: 1 0 600px;
  height: 60px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
}

.portfolio-actions {
  padding: 0 4% 0 4%;
  display: flex;
  justify-content: center;
  position: relative;
}

.portfolio-filters {
  max-width: 720px;
  flex: 1 0 600px;
}

.gallery-container .mix {
  flex-shrink: 0;
  margin: 20px;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 4% 40px 4%;
}

.mix {
  display: flex;
  flex-wrap: wrap;
}

.mix img{
  height: 100%;
  width: 360px;
  border: 1px solid gray;
}

.portfolio-filters button {
  color: gray;
  width: 80px;
  height: 36px;
  margin: 10px;
  text-align: center;
}

.info h3 {

}

.info {
  max-width: 360px;
  flex: 1 0 240px;
  padding-left: 20px;
}
