@import 'ui';

* {
  box-sizing: border-box;
}


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: 100% $font-stack;
  font-size: 14px;
  color: $black;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
  list-style: none;
  position: relative;
}



h1 {
  font-size: 2.827em;
  font-weight: 400;
}

h2 {
  font-size: 1.777em;
  font-weight: 300;
}

h3 {
  font-size: 1.777em;
  font-weight: 300;
}

h4 {
  font-size: 1.414em;
}

h6 {
  font-size: .667em;
}

p {
  font-size: 1em;
}

body {
  min-width: 100vw;
}

.intro-container {
  height: 100vh;
  border: 1px solid lightgray; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 4% 0 4%;
}

@media (max-width: 710px) {
  .text-wrapper {
    text-align: left;
    margin: auto 10px auto 10px;
    width: 100%;
  }
}


.img-wrapper {
  max-width: 300px;
  height: auto;
}

.intro-content-wrapper img {
  width: 100%;

}

.text-wrapper {
  text-align: right;
  padding: 30px 30px 0 0;
  width: 340px;
}

.text-wrapper .name {
  margin-bottom: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
