@import 'ui';

.project-wrapper.container {
  display: grid;
  grid-template-columns: [left-bound] 120px [left] auto [right] 120px [right-bound];
  grid-template-rows: 10vh [top] min-content 70vh [main] calc(20vh + 70px) [navline] auto [end] 80px;
}

.desc-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 7%;
  max-width: 1100px;
  width: 100%;
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: top;
  grid-row-end: main;
}

.desc-content {
  a:first-of-type {
    margin-left: -15px;
  }
  p {
    max-width: 800px;
  }
}

h3 {
  grid-column-start: left;
}

pre.prettyprint {
  margin-top: 30px;
  border: none !important;
  padding: 0 !important;
}

.content-wrapper {
  grid-column-start: left;
  grid-column-end: right;
  grid-row-start: main;
  grid-row-end: end;
  display: flex;
  justify-content: center;
}

.project-items {
  max-width: 1100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7%;
  img {
    padding: 0;
  }
  div {
    margin-bottom: 30px;
  }
}

.item-wrapper img {
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(200, 179, 241, 0.28);
}

.item-wrapper.medium {
  max-width: 60%;
  
  margin-right: auto;
}
.pr-nav {
  grid-row-start: navline;
  height: 40px;
  top: calc(50vh - 30px);
  position: sticky;
  button {
    width: 100%;
    color: $darkest_gray;
  }
  font-size: 1.5em;
}

// .pr-nav:before{
//   content: '';
//   position: absolute;
//   top: 50%;
//   display: block;
//   height: 1px;
//   width: 40px;
//   background-color: #191919;
//   pointer-events: none;
//   user-select: none;
//   left: -50px;
// }
//
// .pr-nav:after{
//   content: '';
//   position: absolute;
//   top: 50%;
//   display: block;
//   height: 1px;
//   width: 40px;
//   background-color: #191919;
//   pointer-events: none;
//   user-select: none;
//   right: -50px;
// }

.pr-nav.last {
  grid-column-start: left-bound;
  grid-column-end: left;
  transform: rotate(-90deg);
  transform-origin: bottom;
}

.pr-nav.next {
  grid-column-start: right;
  grid-column-end: right-bound;
  transform: rotate(90deg);
  transform-origin: bottom;
}

.home {
  position: sticky;
  top: 10px;
  left: 10px;
  grid-row-start: top;
  grid-column-start: left-bound;
  grid-column-end: left;
  font-size: 1.5em;
  button {
    width: 100%;
  }
}

.table {
  font-size: 1em;
  display: grid;
  grid-gap: 20px;

  h4 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .qu {
    font-weight: 300;
    font-style: italic;
  }
}

.col {
  p, li {
    font-size: 1em;
  }
}

.table.three {
  grid-template-columns: 1fr 1fr 1fr;

  .desc {
    grid-column-start: 1;
    grid-column-end: span 3;
  }

  .a {
    grid-column-start: span 1;
  }

  .b {
    grid-column-start: 2;
  }

  .c {
    grid-column-start: 3;
  }
}

.table.four {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .desc {
    grid-column-start: 1;
    grid-column-end: span 4;
  }

  .a {
    grid-column-start: span 1;
  }

  .b {
    grid-column-start: 2;
  }

  .c {
    grid-column-start: 3;
  }

  .d {
    grid-column-start: 4;
  }
}

.img-captioned.right {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  img {
    height: auto;
    grid-column: 2 / span 3;
  }

  .txt {
    grid-column-start: span 1;
    font-size: 1em;
  }
}

.two-thirds.left {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  .first {
    grid-column: 1 / span 2;
  }

  .second {
    grid-column:  3;
  }
}

video {
  // max-height: 80vh;
  width: 100%;
}
